@import "tailwindcss";


#root{
    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar{
    display: none;
}

/* Hide number input spinner arrows */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}